<h1><%= @restaurant.name %></h1>

<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.city %></li>
  <li><%= @restaurant.state %></li>
  <li><%= @restaurant.zip %></li>
  <li><%= @restaurant.description %></li>
  <li><%= @restaurant.category %></li>
</ul>

<h2>Reviews</h2>

<ul>
  <% @reviews.each do |review| %>
    <li><%= review.rating%></li>
    <li><%= review.body%></li>
    <li><%= review.created_at%></li>
  <% end %>
</ul>
